
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Condensed:ital@1&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
.navigation{
    height: auto;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url(../images/hero-bg.jpg);
    /* background-color: aqua; */
}
.logo{
    text-decoration: none;
    color: #fff;
}
.nav-con{
    color: #fff;
}
.banner h1{
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    line-height: 56px;
    color: #222;;
}
.banner p{
    color: #333;
    margin-bottom: 30px;
    font-size: 24px;
}
.banner-input input{
    padding: 0px 15px 2px 20px;
    border: none;
    border-radius: 50px;
    width: 250px;
    height: 40px;
}
.banner-btn{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 30px;
    border: none;
    color: #fff;
    background: #fd680e;
}
.plan{
    text-align: center;
    background-color: #fff7f2;
}
.plan p{
    text-align: left;
}
.plan h5{
    color: #743e1d;
    font-weight: 900;
    line-height: 1.4;
}
ul li i{
    color: #fd680e;
    font-size: 23px;
}
.plan-icon{
    font-size: 25px;
    color: #fff;
    width: 64px;
    height: 64px;
    padding-top: 10px;
    text-align: center;
    background-color: #fd680e;
    border-radius: 50%;
    text-align: center;
    border: 4px solid #fff;
    transition: 0.3s;
    display: inline-block;
    margin-top: -40px;
    /* line-height: 20px; */
}
.plan-box{
    /* background-color: #fff; */
    /* box-shadow:2px 2px 5px  #222; */
}
.faq h1{
    font-size: 32px;
    font-weight: 300;
    position: relative;
}
.faq h1::after{
    content: "";
    position: absolute;
    display: block;
    width: 80px;
    height: 1px;
    background: #fd680e;
    bottom: 0;
    top: 95px;
    left: calc(50% - 40px);
}
.footer h1{
    font-size: 32px;
    font-weight: 300;
    position: relative;
}
.footer h1::after{
    content: "";
    position: absolute;
    display: block;
    width: 80px;
    height: 1px;
    background: #fd680e;
    bottom: 0;
    top: 95px;
    left: calc(50% - 40px);
}
.footer-addres{
    line-height: 1.5;
}
.footer-addres i{
    font-size: 32px;
    color: #fd680e;
    float: left;
    margin: 0px 10px;
}
.footer-icon i{
    font-size: 18px;
    display: inline-block;
    background: #5a2c10;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    margin: 0px 5px ;
    /* letter-spacing: 20px; */
}
.footer{
    background-color: #fff7f2;
    /* margin-bottom: 100px; */
}
.footer-bottom form input{
    width: 90%;
    padding: 5px;
}
.footer-bottom textarea{
    width: 90%;
}
.footer-top{
    padding-bottom: 30px;
}
.footer-bottom button{
    background: #fd680e;
    border: 0;
    padding: 9px 18px;
    font-size: 19px;
    text-align: center;
    margin: auto;
    display: block;
    color: #fff;
}
.final{
    background: #2f1708;
    padding: 30px 0;
    color: #fff;
}
.final-content{
    width: 100%;
    margin: auto;
    font-size: 14px;
    text-align: center;
}
.final-content span{
    color: #fd680e;
}